# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
venv/
.env/
.venv/

# Git
.git
.gitignore

# Build / cache
*.egg-info
dist/
build/
.cache/
.mypy_cache/
.pytest_cache/

# IDEs
.vscode/
.idea/

# Misc
.DS_Store
*.log
